@import 'variables.styl'


// GENERAL
//----------------------------------------------------------

html
  box-sizing border-box
  font-family FontFamily
  font-weight normal
  font-style normal
  font-size 20px
  line-height LineHeight
  color DarkBlue
  background White
  min-height 100%

body
  min-height 100%

*, *:before, *:after
  box-sizing inherit

*:focus
  outline none
