@import 'variables.styl'


// LINKS
//----------------------------------------------------------

a:link, a:visited
  color Teal
  text-decoration none
  transition color 200ms

a:hover, a:active
  color White


// HEADINGS
//----------------------------------------------------------

h1, h2, h3, h4, h5, h6
  color Teal
  font-weight normal
  margin 0.7rem 0
  line-height 1.35

h1
  font-size 2rem

h2
  font-size 1.8rem

h3
  font-size 1.6rem

h4
  font-size 1.4rem

h5
  font-size 1.2rem

h6
  font-size 1.1rem


// HEADINGS
//----------------------------------------------------------

button
  cursor pointer
  padding 0.75rem 1.25rem
  line-height 1
  font-weight 700
  background Teal
  color White
  border none
  border-radius BorderRadius
  box-shadow 0 1rem 2rem 0 rgba(0,0,0,0.1)
  transition background 200ms, transform 200ms

  &:hover
    background shade(Teal, 5%)

  &:active
    transform scale(0.98)

  svg
    width auto
    height 1.2rem
    margin-right 0.5rem
    vertical-align middle

  span
    vertical-align middle


// INPUTS
//----------------------------------------------------------

input, textarea
  width 100%
  font-family FontFamily
  font-size 1rem
  padding 0.5rem
  border-radius BorderRadius
  background White
  border 1px solid LightBlue

textarea
  resize vertical
  height 6rem

label
  display block
  font-size 0.75rem
