@import 'variables.styl'


// LINKS
//----------------------------------------------------------

a:link, a:visited
  color DarkGray
  text-decoration none
  transition color 200ms

a:hover, a:active
  color Teal


// HEADINGS
//----------------------------------------------------------

h1, h2, h3, h4, h5, h6
  color Teal
  font-weight normal
  margin 0.7rem 0
  line-height 1.35

h1
  font-size 2rem

h2
  font-size 1.8rem

h3
  font-size 1.6rem

h4
  font-size 1.4rem

h5
  font-size 1.2rem

h6
  font-size 1.1rem
