// IMPORT
//----------------------------------------------------------

@import "https://fonts.googleapis.com/css?family=Lato:400,700"


// VARIABLES
//----------------------------------------------------------

FontFamily          = 'Lato', sans-serif;

Gray                = #D8DBE2
LightBlue           = #A9BCD0
Teal                = #58A4B0
DarkGray            = #373F51
Black               = #1B1B1E

SiteWidth           = 1248px
ViewportWidth       = 94vw
LineHeight          = 1.5
BorderRadius        = 5px

Transition          = all 200ms ease-in-out

Breakpoint1         = "only screen and (max-width: 1400px)"
Breakpoint2         = "only screen and (max-width: 1100px)"
Breakpoint3         = "only screen and (max-width: 800px)"
Breakpoint4         = "only screen and (max-width: 500px)"
Breakpoint5         = "only screen and (max-width: 374px)"
