// IMPORT
//----------------------------------------------------------

@import "https://fonts.googleapis.com/css?family=Lato:400,700"


// VARIABLES
//----------------------------------------------------------

FontFamily          = 'Lato', sans-serif;

Black               = #000000
White               = #FFFFFF

DarkBlue            = #0A4150
Blue                = #007887
MediumBlue          = #73A5AF
LightBlue           = #C8D7D7
LightGray           = #F4F7F7
Gray                = #EAF0F0
SlightlyDarkerGray  = #C3D0D0
Red                 = #EB5A50

Error               = #A0372D

SiteWidth           = 1624px
ContentWidth        = 1342px
ContentNarrowWidth  = 1080px
ViewportWidth       = 94vw
HeaderHeight        = 8.3rem
HeaderOffset        = 3rem
LineHeight          = 1.5
BorderRadius        = 5px

Transition          = all 200ms ease-in-out

Breakpoint1         = "only screen and (max-width: 1400px)"
Breakpoint2         = "only screen and (max-width: 1100px)"
Breakpoint3         = "only screen and (max-width: 800px)"
Breakpoint4         = "only screen and (max-width: 500px)"
Breakpoint5         = "only screen and (max-width: 374px)"
