// VARIABLES
//----------------------------------------------------------

FontFamily          = 'Noto Sans', sans-serif;

Black               = #1B1B1E
White               = #FFFFFF
LightGray           = #f0f5f9
Gray                = #c9d6df
MediumGray          = #52616b
DarkGray            = #373F51
LightBlue           = #A9BCD0
Teal                = #58A4B0


SiteWidth           = 1024px
ViewportWidth       = 90vw
LineHeight          = 1.5
BorderRadius        = 5px

Overlay             = 100
Dimmer              = 90

Breakpoint1         = "only screen and (max-width: 1000px)"
Breakpoint2         = "only screen and (max-width: 800px)"
Breakpoint3         = "only screen and (max-width: 600px)"
